In [2]:
import math

Write some code that imports the math module, then calculates and prints the square root of the number 2401. Use the sqrt() function provided by the math module.

In [3]:
from math import sqrt
root = sqrt(2401)

In [4]:
root

49.0

Write some code that imports only the log2() function from the math module, then
call this function to calculate the log base 2 value of 1024. Print the result to the screen.

In [5]:
from math import log2
log = log2(1024)
log

10.0

Input the above function definition. Once that is done make several calls to the
function passing different argument values for testing.

In [6]:
def displayTwice(msg):
    print(msg)
    print(msg)
displayTwice("Hello There")

Hello There
Hello There

In [7]:
displayTwice("How are you doing?")

How are you doing?
How are you doing?

Re-Input the above function definition, but this time add a docstring that includes a
description of the functionâ€™s purpose. Once that is done enter a command such as
help(displayTwice) and see what it displays.

In [8]:
def displayTwice(msg):
    """This displays the function argument twice."""
    print(msg)
    print(msg)
help(displayTwice)

Help on function displayTwice in module __main__:

displayTwice(msg)
    This displays the function argument twice.

Input the above function definition. Once that is done make several calls to the
function passing different argument values and displaying the returned value.

In [9]:
def findMax(a,b):
    """Finds the maximum of two values."""
    if ( a > b ):
        max = a
    else:
        max = b
    return max

In [10]:
findMax(8,9)

9

Define a function that takes two numeric values, multiplies them together then returns the result. If the function is called with only a single argument however, then the value should be multiplied by itself. Once the function is defined, call it several times and display the returned values for testing purposes.

In [11]:
def multi_numbers(num1, num2=None):
    if num2 is None:
        num2 = num1
    return num1 * num2

print(multi_numbers(3)) 
print(multi_numbers(9, 4)) 
print(multi_numbers(5, 9))

9
36
45

Enter the example function shown above, then try calling it using the keyword arguments in several different orders.

In [12]:
def oneFunc(x, y, z):
    print("x is", x, "\ny is", y, "\nz is", z)

oneFunc(1,2,3)
oneFunc(y=2, z=3, x=1)

x is 1
y is 2
z is 3
x is 1
y is 2
z is 3

In [13]:
oneFunc(1, z=99, y=4)

x is 1
y is 4
z is 99

The built-in print() function supports a keyword argument called sep. This is used to decide what character to display between each of the provided positional parameters. Write some code that makes several calls to the print() function while setting the sep argument to values other than a space (which is the default).

In [14]:
print("Annya","Parajuli" ,sep=", ")
print("Annya","Parajuli", sep="|")
print("Annya","Parajuli", sep="*")
print("Annya","Parajuli", sep="**")

Annya, Parajuli
Annya|Parajuli
Annya*Parajuli
Annya**Parajuli

Enter the example function shown above, then try calling it several times, passing a different number of numeric arguments each time.

In [15]:
def calculate(*numbers):
    total = 0
    for num in numbers:
        total += num
    return total/len(numbers)
calculate(5,6)

5.5

In [16]:
calculate(1,2,3,4)

2.5

In [17]:
calculate(6,9,4,2,0,1,1)

3.2857142857142856

Enter the example lambda expression shown above, then find out the data type of the hypot variable using a call to the type() function. Notice the result.

In [18]:
result = lambda a,b : math.sqrt(a * a + b * b)
result(3,4)

5.0

Write a lambda expression that takes two formal parameters, hours and minutes. The expression should calculate and return the total number of equivalent seconds. Assign the expression to a variable called to_seconds, then call the function several times for testing.

In [19]:
to_seconds = lambda hours, minutes: hours * 3600 + minutes * 60

print(to_seconds(1, 0))       
print(to_seconds(0, 30))      
print(to_seconds(2, 15))

3600
1800
8100

Improve your previous lambda expression so that if only one argument is passed within a call, then the number of minutes defaults to 0, as detailed below:

In [20]:
to_seconds = lambda hours, minutes=0: hours * 3600 + minutes * 60

print(to_seconds(2, 15))      
print(to_seconds(3))          
print(to_seconds(5))

8100
10800
18000